@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  @apply w-full min-h-screen bg-slate-800 text-slate-200;
}

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-slate-800 rounded-r-lg;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-r-lg bg-opacity-5;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 150ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms;
}
